<aside class="app-sidebar sticky" id="sidebar">
    <div class="main-sidebar-header">
        <a href="/dashboard2" class="header-logo" style="font-size: large;">
            JustMediation Admin
        </a>
    </div>

    <div class="main-sidebar" id="sidebar-scroll">

        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg>
            </div>
            <ul class="main-menu">
                <li class="slide__category"><span class="category-name">Main</span></li>
                <li class="slide">
                    <a href="/dashboard2" class="side-menu__item">
                        <i class="fe fe-home side-menu__icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                    </a>
                </li>

                <li class="slide__category"><span class="category-name">Apps</span></li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Administration</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/admin/logentry/" class="side-menu__item">Log entries</a>
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Business</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child2">
                        <li class="slide">
                            <a href="/adminka/business/activity/" class="side-menu__item">Activities</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/billingitemattachment/" class="side-menu__item">Attached Time
                                Billings</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/attachment/" class="side-menu__item">Attachments</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/mediatorrfp/" class="side-menu__item">Mediator RFP</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/billingitem/" class="side-menu__item">Billing Item</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/checklistentry/" class="side-menu__item">Checklist Entries</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/invoice/" class="side-menu__item">Invoices</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/lead/" class="side-menu__item">Leads</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/matter/" class="side-menu__item">Matters</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/mattersharedwith/" class="side-menu__item">Matters Shared
                                With</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/contactform/" class="side-menu__item">
                                Messages from contact form
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/note/" class="side-menu__item">Notes</a>
                        </li>

                        <li class="slide">
                            <a href="/adminka/business/opportunity/" class="side-menu__item">Opportunitys</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/paymentmethods/" class="side-menu__item">PaymentMethods</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/postedmatter/" class="side-menu__item">Posted matters</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/proposal/" class="side-menu__item">Proposals</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/referral/" class="side-menu__item">Referrals</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/stage/" class="side-menu__item">
                                Stages
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/business/voiceconsent/" class="side-menu__item">Voice Consents</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Location items</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/cities_light/country/" class="side-menu__item">Countries</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/cities_light/region/" class="side-menu__item">Regions/states</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/cities_light/city/" class="side-menu__item">Cities</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Constance</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/constance/config/" class="side-menu__item">Config</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Documents</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/documents/document/" class="side-menu__item">Documents</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/documents/folder/" class="side-menu__item">Folders</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Easy Audit</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/easyaudit/crudevent/" class="side-menu__item">CRUD events</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/easyaudit/loginevent/" class="side-menu__item">Login events</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/easyaudit/requestevent/" class="side-menu__item">Request events</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Finance</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/finance/accountproxy/" class="side-menu__item">Account proxys</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/finance/customerproxy/" class="side-menu__item">Customers</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/finance/paymentintentproxy/" class="side-menu__item">Payment intent
                                proxys</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/finance/payment/" class="side-menu__item">Payments</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/finance/planproxy/" class="side-menu__item">Plans</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/finance/productproxy/" class="side-menu__item">Product proxys</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/finance/subscriptionproxy/" class="side-menu__item">Subscriptions</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Forums</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/forums/comment/" class="side-menu__item">Comments</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/forums/followedpost/" class="side-menu__item">Followers of Posts</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/forums/post/" class="side-menu__item">Posts</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/forums/forumpracticeareas/" class="side-menu__item">Practice areas</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/forums/topic/" class="side-menu__item">Topics</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/forums/userstats/" class="side-menu__item">Users Stats</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">News</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/news/newscategory/" class="side-menu__item">Categories</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/news/news/" class="side-menu__item">News</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/news/newstag/" class="side-menu__item">Tags</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Notifications</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/notifications/notificationdispatch/" class="side-menu__item">Notification
                                dispatches</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/notifications/notificationgroup/" class="side-menu__item">Notification
                                groups</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/notifications/notificationsetting/" class="side-menu__item">Notification
                                settings</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/notifications/notificationtype/" class="side-menu__item">Notification
                                types</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/notifications/notification/" class="side-menu__item">Notifications</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Periodic tascs</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/django_celery_beat/clockedschedule/" class="side-menu__item">Clocked</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/django_celery_beat/crontabschedule/" class="side-menu__item">Crontabs</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/django_celery_beat/intervalschedule/"
                                class="side-menu__item">Intervals</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/django_celery_beat/periodictask/" class="side-menu__item">Periodic
                                tasks</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/django_celery_beat/solarschedule/" class="side-menu__item">Solar
                                events</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Promotion</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/promotion/event/" class="side-menu__item">Events</a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Api logs</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/rest_framework_tracking/apirequestlog/" class="side-menu__item">All
                                logs</a>
                        </li>
                    </ul>


                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Social</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/adminka/social/chats/" class="side-menu__item">Chats</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/social/messageattachment/" class="side-menu__item">Message attachments</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/social/message/" class="side-menu__item">Messages</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/social/mediatorpost/" class="side-menu__item">Posts</a>
                        </li>
                    </ul>


                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-slack side-menu__icon"></i>
                        <span class="side-menu__label">Users</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child2">
                        <li class="slide">
                            <a href="/adminka/users/appuser/" class="side-menu__item">AppUsers</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/appointmenttype/" class="side-menu__item">Appointment
                                Type</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/mediatoruniversity/" class="side-menu__item">Mediator
                                Universities</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/mediator/" class="side-menu__item">Mediators</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/mediatoreducation/" class="side-menu__item">Mediators' education</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/client/" class="side-menu__item">Clients</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/currencies/" class="side-menu__item">Currencies</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/enterprise/" class="side-menu__item">Enterprise</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/enterprisemembers/" class="side-menu__item">Enterprise memberss</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/feekind/" class="side-menu__item">Fee
                                Kinds</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/firmlocation/" class="side-menu__item">
                                FirmLocation
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/firmsize/" class="side-menu__item">Firm
                                size</a>
                        </li>

                        <li class="slide">
                            <a href="/adminka/users/invite/" class="side-menu__item">Invitations</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/jurisdiction/" class="side-menu__item">Jurisdictions</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/language/" class="side-menu__item">Languages</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/lawfirm/" class="side-menu__item">Law
                                Firms</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/member/" class="side-menu__item">Members</a>
                        </li>

                        <li class="slide">
                            <a href="/adminka/users/paymenttype/" class="side-menu__item">Payment Types</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/speciality/" class="side-menu__item">Specialities</a>
                        </li>
                        <li class="slide">
                            <a href="/adminka/users/userstatistic/" class="side-menu__item">
                                User statistics
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg>
            </div>
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->